.button {
  outline: 0;
  border: 0;
  padding: 0.375em 0.875em;
  border-radius: 0.25em;
  cursor: pointer;
  background: var(--orange);
  color: white;
  border: 1px solid var(--divider);
  box-shadow: 0 0 3px var(--divider);
  transition: 0.1s ease all;
  font-size: 0.9em;
  font-weight: 500;
}

.button:hover {
  background-color: var(--dark-orange);
}

.button--block {
  margin: 0 0 0.5em;
  display: block;
  width: 100%;
}

.button--red {
  background: var(--red);
}

.button--orange {
  background: var(--orange);
}

.button--flat {
  color: var(--dark-orange);
  background: transparent;
  box-shadow: 0 0 0;
  border: 0;
  text-transform: uppercase;
  font-size: 0.85em;
}

.button--flat:hover {
  background: var(--surfaceSecondary);
}

.button--flat.button--red {
  color: var(--dark-red);
}

.button--flat.button--grey {
  color: #6f6f6f;
}

.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
